body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    /* Background color */
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
    color: #333;
    /* Text color */
    margin-bottom: 20px;
}

form {
    background: #fff;
    /* Form background color */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Box shadow */
    border-radius: 10px;
}

label {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #333;
    /* Label text color */
}

select {
    margin-top: 5px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    /* Properly fit the input box within the container */
}

option {
    color: #fff;
    /* Submit button text color */
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="submit"] {
    background: #007bff;
    /* Submit button background color */
    color: #fff;
    /* Submit button text color */
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background: #0606c2;
    /* Hover background color */
}

/* Add a glassy effect */
option,
input[type="text"],
input[type="submit"],
label {
    display: block;
    transition: background 0.3s, color 0.3s;
}

option,
input[type="text"]:focus,
input[type="submit"]:focus {
    background: #f9f9f9;
    /* Focus background color */
    color: #333;
    /* Focus text color */
}

/* Add 3D effect */
option,
input[type="text"],
input[type="submit"] {
    text-align: center;
    /* text-transform: uppercase; */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    font-size: 16px;
}

/* Add hover effect to the label */
label:hover {
    color: #007bff;
    /* Label hover color */
    cursor: pointer;
}

/* Add hover effect to the input elements */
input[type="text"]:hover {
    background: #dedede;
}

input[type="submit"]:hover {
    background: #0eee59;
    /* Hover background color */
}

/* Add a glassy effect to the form */
form {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9));
}